<div class="profile-container">
  <div class="profile-header">
    <img [src]="avatarUrl" alt="User Avatar" class="avatar" *ngIf="avatarUrl" />
    <h2>{{ username }}</h2>
    <p>{{ bio }}</p>
  </div>

  <div class="users-list">
    <h3>Users</h3>
    <ul>
      <li *ngFor="let user of users">
        {{ user.username }}
      </li>
    </ul>
  </div>

  <div class="profile-posts">
    <h3>My Posts</h3>
    <div *ngFor="let post of posts" class="post">
      <h4>{{ post.title }}</h4>
      <p>{{ post.body }}</p>
      <img
        *ngIf="post.imageUrl"
        [src]="post.imageUrl"
        alt="Post Image"
        class="post-image"
      />
      <video
        *ngIf="post.videoUrl"
        [src]="post.videoUrl"
        controls
        class="post-video"
      ></video>
    </div>
  </div>
</div>
